<div style="margin:25px;">
<h3>
Su navegador no tiene la resolución necesaria para visualizar el interactivo</h3>
<h3>
Necesita como mínimo: 800px ancho x 500px alto 
</h3>
<br>
Previsualización del interactivo en una resolución adecuada: 
<br>
<img src="images/interactivo.png"/>
<b>
</div>
