<label class='label'>Detallar relacioenes de Informacion Relacionable</label>
<p>
<%=if defined? mensaje then mensaje else "Cuadro de busqueda " end%>	
<%= text_field_tag :biz %>
<a href='#' class='btn btn-warning' id="view_all_results" onclick='ea();return false;'>Reset Detalle de relaciones extra</a>

</p>
<script>
	jQuery.ajaxSetup({
'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
});
$("#biz").autocomplete( {minLength:2, source: '<%= admin_search_path(:modelos_de_busqueda=>modelos_de_busqueda) %>'}
);
function ea(){
	$("#resultados" ).html("");
		$("#biz" ).val("");
	valor_seleccionado=0;
	checkBoton();
	return false;
	}

function checkBoton(){
	if ($("#biz" ).val().length>0 && valor_seleccionado>0){
	$("#view_all_results" ).show();
	return true;
	}else{
	$("#view_all_results" ).hide();
		return false;
	} 
}
$("#biz").autocomplete({
   search: function(event, ui) {
   	if (!checkBoton() && valor_seleccionado!=0) {
		$("#resultados").hide();
		return false;
	}
}
});
var valor_seleccionado=0;
$("#biz" ).bind( "autocompleteselect", function(event, ui) {
	
	valor_seleccionado= ui.item.id_autocomplete;
  $.ajax({
    complete:function(request){},
    data:'search='+ ui.item.id_autocomplete+'&search_class='+ui.item.class_autocomplete+'&template=<%=template%>',
    dataType:'script',
    type:'get',
    url: '/admin/seleccionar'
  })
  checkBoton();
});
//if (!($("#resultados").length>0)) {
//alert("webmaster olvidaste incluir el div de resultados");
//$("#biz").hide();
//}
checkBoton();
</script>