<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">

var canvasSupported = !!window.HTMLCanvasElement;
if(!canvasSupported) window.location.href="no_compatible";

</script>

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <title>Olearum: Red de museos del aceite de oliva</title>
  <%= stylesheet_link_tag    "global", :media => "all" %>

        <script src="/javascripts/jquery-1.7.2.js"></script>
		<script>
			function is_touch_device() {
  return !!('ontouchstart' in window);
}
			//alert(is_touch_device());
			if($(window).width()<700 || $(window).height()<400){
			window.location.href="no_screen";
			//alert("size!!");
			}
			</script>
        <script src="/javascripts/processing-1.3.6.js"></script>
        <script src="/javascripts/suggest.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script> 

        <link rel="stylesheet" href="/pruebas/theme/default/style.css" type="text/css">
        <link rel="stylesheet" href="/pruebas/style.css" type="text/css">
        
        <script src="/pruebas/OpenLayers.js"></script>
        <script src="/pruebas/mapa_olearum.js"></script>


  <%= csrf_meta_tags %>
  
  
<style>
	input[type='text'] {
    background-image: url(images/search.gif);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

	.olControlPanPanel{
		display:none;
	}
	 .olControlPanel{
	 }
     .olControlPanel button {
          position: relative;
          display: block;
          margin: 2px;
          border: none;
          height: 25px;
          background-color: "transparent";
      height: 25px;
          width: 76px;
		  
		    padding:0px;
          float: left;
          overflow: visible; /* needed to remove padding from buttons in IE */
        }
        .olControlPanel button span {
          padding-left: 25px;
        }
        .olControlPanel button span:first-child {
          padding-left: 0;
          display: block;
          position: absolute;
           
   left: 2px;
        }
        .olControlPanel .ampliaItemActive span:first-child { 
          background-image: url("/images/maximizar_def_text.gif");
		  background-repeat:no-repeat;
          height: 25px;
          width: 76px;
          top: 2px;
        }
        .olControlPanel .reduceItemActive span:first-child { 
          background-image: url("/images/red_text.gif");
		  background-repeat:no-repeat;
          height: 25px;
          width: 76px;
          top: 2px;
        }
</style>
<style>
dt{background-color:rgb(141,143,98); color:white;margin-bottom:5px;}
</style>

  <script type="text/javascript">

  	var tId,pjs,cnt=0;

 $(document).ready(
	function() {
 $('footer').width($(document).width()-$('aside').width()-100);
  pjs = Processing.getInstanceById("kenviz");
  //console.log(cnt+':'+pjs);
  if (!pjs) tId=setInterval(function() {
    pjs = Processing.getInstanceById("kenviz");
  //  console.log(cnt+':'+pjs);
    if (pjs){
	clearInterval(tId);
	inicia(pjs);		
	} 
  },500);
  if(!$.mapita)
	$.mapita=init_mapa(centroLonLatPeninsula,zoomCentroPeninsula);
});

			
			
  function inicia() {
    p = Processing.getInstanceById("kenviz");
	//ondblclick = function () { p.mousePressedd() }

    function canvasSupported() {
      var canvas_compatible = false;
      try {
       canvas_compatible = !!(document.createElement('canvas').getContext('2d')); // S60
      } catch(e) {
       canvas_compatible = !!(document.createElement('canvas').getContext); // IE
      }
      return canvas_compatible;
    }

    if (canvasSupported()) {
      
  
  
      var search = $("#fb-suggest");
	  var debugueo=false;
      search.suggest({"type": "/common/topic"})
      .bind("fb-select", function(e, data) {
	  	//console.dir(p.resourceId);
        if (debugueo) {
			p.setR(1);
		}
		else 
			p.setR(data.id);
		 //alert("val:"+p.resourceId);
           p.setup();
		    if(es_ampliado){
		   reduceMapa();
		   	
		   } 
      })
      .focus(function(e) {
        if ($(this).val() == $(this).attr('default')) {
          $(this).val("");
        }
        else {
          $(this).select();
        }
        $(this).removeClass('ghost-input');
      })
      .blur(function(e) {
        if (!$(this).val()) {
          $(this).val($(this).attr('default')).addClass('ghost-input');
        }
      });
      
      search.val(search.attr('default')).addClass('ghost-input');

      // init
     // p.init(p.ajax("/javascripts/pjs/physics.pjs")+p.ajax("/javascripts/pjs/value.pjs")+p.ajax("/javascripts/pjs/attribute.pjs")+p.ajax("/javascripts/pjs/resource.pjs")+p.ajax("/javascripts/pjs/node.pjs")+p.ajax("/javascripts/pjs/edge.pjs")+p.ajax("/javascripts/pjs/graph.pjs")+p.ajax("/javascripts/pjs/network.pjs"));
      //initialized = true;
               //p.setR(null);

      $(window).resize(function(){
        p.resize();

      });
    } else {
      $('#browser_not_supported').show();
      $('#explanation').hide();
    }
  }




</script>

</head>
<body>
<canvas id="kenviz" data-processing-sources="/javascripts/pjs/network.pjs 
/javascripts/pjs/physics.pjs 
/javascripts/pjs/value.pjs 
/javascripts/pjs/attribute.pjs 
/javascripts/pjs/resource.pjs 
/javascripts/pjs/edge.pjs 
/javascripts/pjs/node.pjs 
/javascripts/pjs/graph.pjs"></canvas>  
<header >
<section id="search">
<input autocomplete="off" default="Buscar informaciones sobre el aceite ..." id="fb-suggest" name="fb-suggest" type="text" class="">
</section>
<br style="clear: both;">
</header>
<section id="content" style="position:relative;">
<%= yield %>
</section>
<aside>
<div id="explanation">
</div>
<div id="browser_not_supported">
Your Browser is currently not supported.<br><br>Try one of these:<br>
<a href="http://www.mozilla.com/en-US/firefox/firefox.html">Firefox 3.5</a><br>
<a href="http://www.apple.com/safari/">Safari 4.0</a><br>
<a href="http://www.google.com/chrome/">Chrome</a><br>
</div>
</aside>
<footer style="width:220px;">
	<div id="container_mapa" style="top:-20px;width:200px; height:200px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border: 1px solid #c1c1c1;line-height: 1.5em;background: #fff;opacity: 0.9;overflow: auto;padding:5px;">
	<div id="mapa_div" style="width:200px; height:200px;">
		</div>
</div>
</footer>

</body>
</html>
